* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section .title{
    display: grid;
    place-items: center;
    margin-top: 40px;
}

section .title p{
    font-size: 64px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkcyan;
}

section .form-container{
    display: grid;
    place-items: center;
    margin-top: 40px;
}

section .form-container form{
    display: flex;
    align-items: center;
}

section .form-container form label{
    font-size: 28px;
    font-weight: 400;
    margin-right: 20px;
}

section .form-container form input{
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    margin-right: 20px;
    font-weight: bold;
}

section .form-container form button{
    padding: 10px;
    background-color: steelblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

section article{
    margin: 50px;
}

section article p{
    text-align: center;
    margin-top: 20px;
}